html {
    box-sizing: border-box;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'PT Sans', sans-serif;

}

/*  Globales */

a {
    text-decoration: none;
    color: #000;
}

.tienda-titulo {
    text-align: center;
    padding: 20px 5px;
    color: #000;

}

h1 span {

    color: #037bc0;
}

h2 span {

    color: green;
}


.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}

.enlace {

    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
    margin: 0 15px;
}


.nav-categoria {
    padding: 10px 2px;
    text-align: center;
    text-transform: uppercase;
}


.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}


.contenedor {
    max-width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;


}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.listado-categorias{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;


}


.categoria a{
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px ;
}


/*Un hack para acomodar las imagenes respeta el tamaño del contenedor en donde esta la imagen */
img{
    max-width: 100%;
    display: block;
}